<script type="text/ng-template" id="templates/newtask.html">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            <i class="fa fa-tasks"></i>
            <%= t "rooms.add_a_task" %>
          </h4>
        </div>
        <div class="modal-body">
          <h5><%= t "rooms.description" %></h5>
          <textarea cols="30" rows="2" title="<%= t "rooms.description" %>" ng-model="content"
            class="form-control" placeholder="<%= t "rooms.description" %>"></textarea>
          <h5><%= t "rooms.due_date" %></h5>
          <datepicker button-prev="<i class='fa fa-arrow-left'></i>"
            button-next="<i class='fa fa-arrow-right'></i>" date-format="yyyy-MM-dd">
            <input ng-model="due_date" type="datetime" class="form-control"
              placeholder="<%= t "rooms.due_date" %>"/>
            <br>
          </datepicker>
          <h5><%= t "rooms.add_task_for" %></h5>
          <select ng-model="list" title="Mention" class="form-control list-mention" multiple>
            <option ng-value="user" ng-repeat="user in room.list_admin"
              style="background-image: url('{{ user.avatar.thumb.url }}')">
              {{ user.username }}
            </option>
            <option ng-value="user" ng-repeat="user in room.list_members"
              style="background-image: url('{{ user.avatar.thumb.url }}')">
              {{ user.username }}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="create()"
            title="<%= t "rooms.you_assign_task" %> {{ list.length }} <%= t "rooms.people" %>">
            <%= t "rooms.create" %>
          </button>
          <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</script>
