<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= t "app.name" %> | <%= t "app.slogan" %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
